html{box-sizing:border-box;}
*, *:before, *:after {box-sizing:inherit;}
#container{
	position: relative;
}
.pics{
	position:absolute;  
}
.title{
	font-size: 30px;
	color: white;
	position: absolute;
	right:22px;
	bottom: 12px;
}
a{
	font-size: 35px;
}
.prev, .next {
  cursor: pointer;
  position: fixed;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background-color: rgba(0,0,0,0.2);
  
}

.next{
	
	right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
	background-color: #1c2100;
}
.current{
	z-index: 2;
}