html{box-sizing:border-box;}
*, *:before, *:after {box-sizing:inherit;}

#container{
	margin-left: 300px;
}
#container > .section{
	
	width: 300px;
	border: 1px solid #00C6D6; 
}

.head{
	width: 300px;
	height: 30px;
	color: white;
	background-color: #00C6D6;
	font-family: sans-serif;
	
}
.head:hover{
	background-color: #00DAEB;
}
.header{
	margin: 0 0 0 10px;
}
p{
	
	margin:0 0 0 8px;
	font-family: sans-serif;
	color: #9D918E;
}


.content {
	height: 0;
	overflow: auto;
	transition: height 1s;
}
.show{
	
    height: 110px;
}